projectFolder="#BASEDIR#"
runName="LAquila"
slave="slave"
scenes_include=( master slave )
dataFile="ASA_*.N1"
m_in_method="ASAR"
m_in_vol="dummy"
m_in_lea="dummy"
m_in_null="dummy"
s_in_vol="dummy"
s_in_lea="dummy"
s_in_null="dummy"
